
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    background-color: #0f0f11;
    color: #fff;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

.bluebg {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

/*Header*/
.header .container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 211px;
}

.menu a {
    margin-top: 20px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu-item {
    max-width: 123px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
}

.menu-list-two {
    display: flex;
    list-style: none;
    gap: 40px;
}


.img-menu-item {
    margin-left: 5px;
    margin-bottom: 1px;
    transition: 0.5s;
}

.img-menu-item:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.menu-item {
    transition: 0.5s;
}

.menu-item:hover {
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
}

/*Main*/
.main-title {
    font-size: 25px;
    width: 312px;
    word-spacing: 2px;
    margin-top: 96px;
}

.main-right {
    background-image: url(../img/Steak.jpg);
    background-repeat: no-repeat;
    width: 1170px;
    margin-left: 168px;
    margin-top: 44px;
}

.main-df {
    display: flex;
}

.main-phone {
    margin-top: 37px;
    font-size: 25px;
    margin-bottom: 7px;
}

.main-mail {
    text-decoration: underline;
    font-size: 18px;
    margin-top: 7px;
}

.main-image {
    margin-left: 68px;
}

.main-card {
    margin-top: 320px;
    transition: 1s;
}

.main-card:hover {
    transform: scale(1.1);
}

.main-right {
    display: flex;
    gap: 445px;
}

.union {
    max-width: 284px;
    margin-top: 240px;
    margin-right: 10px;
}

/*red*/

.red {
    background-image: url(../img/Bg-red.svg);
    background-repeat: no-repeat;
    width: 355px;
    height: 357px;
    padding-top: 15px;
    margin-left: 72px;
    margin-top: 461px;
    transition: 1s;
}

.red:hover {
    transform: scale(1.1);
}

.red2 {
    margin-left: 57px;
}

.red-title {
    font-size: 25px;
    margin-bottom: 0;
}

.red-info {
    margin-top: 5px;
    background-color: #d24444;
    width: 47px;
    border-radius: 4px;
    height: 25px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

.red-info2 {
    width: 231px;
    font-size: 15px;
    opacity: 80%;
    margin: 0;
}

.red-price {
    display: flex;
}

.red-price-text {
    font-size: 23px;
    padding-top: 7px;
}

/*/red*/

.card-title {
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 20px;
}

.card-info {
    background-color: #546174;
    border-radius: 3px;
    width: 45px;
    padding: 3px 5px 3px 5px;
    font-size: 13px;
    margin-bottom: 6px;
    margin-top: 10px;
}

.main-card-info {
    margin-left: 17px;
}

.price {
    display: flex;
    margin-top: 6px;
}

.price-text {
    font-weight: bold;
    font-size: 23px;
    max-width: 71px;
    max-height: 42px;
    margin-bottom: 7px;
    padding-top: 7px; 
}

.food-card {
    width: 233px;
    max-height: 500px;
}

.food-info {
    margin-top: 6px;
    margin-bottom: 14px;
}

.food-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.food-main-title {
    font-size: 80px;
    font-weight: 500;
    justify-items: center;
    width: 643px;
    margin-bottom: 43px;
    display: flex;
}

.food-main-title-two {
    font-size: 80px;
    font-weight: 500;
    justify-items: center;
    width: 643px;
    margin-bottom: 43px;
    display: flex;
}

.food-card-main {
    display: flex;
    gap: 21px;
}

.img {
    transition: 0.5s;
}

.food-card {
    transition: 0.5s;
}

.food-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.price-text2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 7px; 
    margin-top: 1px;
}

.price-text3 {
    margin-bottom: 1px;
    font-size: 18px;
    margin-top: 13px;
}

.not-price-text {
    text-decoration: line-through;
    margin-bottom: 1px;
    opacity: 0.5;
    font-size: 18px;
}

.price2 {
    display: list-item;
    list-style: none;
}

.food {
    justify-items: center;
}

.food-one {
    display: flex;
    gap: 25px;
    margin-bottom: 61px;
}

.food-two {
    display: flex;
    gap: 25px;
}

.catalog {
    display: flex;
    gap: 20px;
}

.price-btn {
    margin-left: 34px;
    margin-top: 14px;
    border: 1px solid #FBD13E;
    color: #FBD13E;
    background-color: #0f0f11;
    width: 128px;
    height: 42px;
    transition: 0.5s;
}

.price-btn:hover {
    color: #0f0f11;
    background-color: #FBD13E;
    transform: scale(1.1);
    cursor: pointer;
}

.carte {
    justify-items: center;
    margin-bottom: 169px;
}

.menu-carte-item-red {
    background-color: #B70000;
    width: 233px;
    height: 314px;
    padding-top: 23px;
    padding-bottom: 29px;
    justify-items: center;
    transition: 0.5s;
}

.menu-carte-item-red:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.menu-carte-img {
    display: flex;
    gap: 6px;
}

.menu-carte-item:hover {
    transform: scale(1.1);
    background-color: #0A224E;
    cursor: pointer;
}

.carte-text-red {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 69px;
    padding-bottom: 50px;
}

.carte-text {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 16px;
}

.carte-text-two {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 28px;
}

.carte-text-three {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 39px;
}

.carte-text-four {
    font-size: 20px;
    margin-top: 36px;
    text-align: center;
    padding-bottom: 1px;
}

.carte-text-five {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 31px;
}

.menu-carte {
    display: flex;
    gap: 30px;
}

.menu-carte-item {
    justify-items: center;
    width: 235px;
    height: 314px;
    background-color: #000000;
    transition: 0.5s;
}

.arrow {
    display: flex;
    margin-top: 111px;
    margin-left: 557px;
    gap: 40px;
}

.arrow1 {
    border: 1px #fff solid;
    border-radius: 100px;
    width: 56px;
    height: 56px;
    font-size: 40px;
    opacity: 50%;
    transition: 0.5s;
}

.arrow2 {
    border: 1px #fff solid;
    border-radius: 100px;
    width: 56px;
    height: 56px;
    padding-left: 5px;
    font-size: 40px;
    opacity: 50%;
    transition: 0.5s;
}

.arrow1:hover {
    opacity: 100%;
    transform: scale(1.15);
}

.arrow2:hover {
    opacity: 100%;
    transform: scale(1.15);
}

.menu-carte-one {
    display: flex;
    gap: 20px;
}

.menu-carte-two {
    display: flex;
    gap: 20px;
}

/*Footer*/
footer {
    background: #000000;
    min-width: 100%;
    justify-items: center;
    font-size: 12px;
}

.footer-one a {
    margin-top: 15px;
    padding-top: 15px;
}

.footer-list {
    margin-top: 20px;
}

.footer-list ul {
    list-style: none;
    display: flex;
    gap: 50px;
    text-decoration: underline;
    margin-left: 118px;
    margin-right: 475px;
}

.footer-list-ul {
    margin-top: 15px;
    transition: 0.2s;
}

.footer-list-ul:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.footer-tel {
    font-size: 20px;
    margin-top: 55px;
    margin-right: 29px;
}

.footer-mail {
    text-decoration: underline;
    margin-top: 62px;
}

.footer-one {
    display: inline-flex;
    margin-bottom: 38px;
}

.footer-two {
    display: flex;
    border-top: #4c4c4c 1px solid;
    gap: 685px;
}

.footer-list-two {
    display: flex;
}

.footer-text {
    font-size: 12px;
    margin-top: 28px;
}

.footer-text-two {
    display: flex;
    margin-top: 8px;
    gap: 45px;
    text-decoration: underline;
}

/*.footer*/

@media (max-width:400px) {
    
    .red {
        margin-top: 280px;
        margin-left: 30px;
    }

    .menu {
        gap: 400px;
    }

    .bluebg {
        width: 865px;
    }

    .union {
        display: none;
    }

    .menu-list {
        display: none;
    }

    .main-right {
        background-size: 50%;
        margin-left: 30px;
    }

    .main-card {
        margin-top: 40px;
    }

    .food-main-title-two {
        margin-left: 200px;
        margin-right: 0;
        font-size: 80px;
        text-align: center;
    }

    .catalog {
        display: list-item;
        list-style: none;
        margin-left: 20px;
        justify-content: center;
    }

    .food-main-title h2 {
       font-size: 80px;
    }

    .food-card {
        scale: 112%;
        margin-right: 25px;
        margin-bottom: 65px;
    }

    .arrow {
        display: none;
    }

    .menu-carte {
        margin-left: 110px;
    }

   .menu-carte-one {
        display: list-item;
        list-style: none;
   }

   .menu-carte-two {
        display: list-item;
        list-style: none;
        margin-right: 50px;
   }

   .menu-carte-item {
        scale: 140%;
        margin-bottom: 150px;
        margin-right: 90px;
   }

   .menu-carte-item-red {
        scale: 140%;
        margin-bottom: 150px;
        margin-right: 90px;
   }

    .menu-carte-one {
        margin-bottom: 20px;
    }

    .footer-list {
        width: 150px;
        margin: 0;
    }

    .footer-list ul {
        display: list-item;
        list-style: none;
        margin: 0;
    }

    .footer {
        padding: 0 auto;
        width: 860px;
    }

    .footer-list-two {
        display: list-item;
        list-style: none;
        margin-left: 100px;
    }

    .footer-two {
        display: list-item;
        list-style: none;
        width: 100%;
    }

    .footer-img {
        margin-left: 1px;
    }

    .footer-text-two {
        display: list-item;
        list-style: none;
        margin-top: 10px;
    }

    .footer-one {
        gap: 20px;
        padding-top: 0;
        width: 100%;
    }

    .footer-tel {
        margin-top: 30px;
    }

    .footer-mail {
        margin-top: 30px;
    }
}
